* {
	font-family: "Work Sans", sans-serif;
	margin: 0px;
}

body {
	background-image: url("../images/background.jpg");
	background-size: 1300px;
}

#main {
	background-color: rgba(22,118,162, 0.75);
	box-shadow: 10px 1px 1px rgba(162, 162, 162, .5);
	margin: 0px;
	display: flex;
}

.icon {
	width: 5%;
	height: 10%;
}

#title {
	font-size: 300%;
	color: white;
	padding-top: 3px;
	padding-left: 3px;
}

#inboxElem {
	background-color: rgba(255, 255, 255, 0.5);
	margin-bottom: 4px;
}

#inboxTitle {
	font-weight: bold;
	font-size: 110%;
}

#inboxMessages {
	background-color: rgba(255, 255, 255, 0.5);
}

.body {
	display: none;
	border-top: 1px solid lightgrey;
	font-size: 85%;
}

.message {
	border-bottom: 1px solid grey;
}

.message:hover {
	font-size: 110%;
	background-color: rgba(22, 118, 180, 0.5);
	color: white;
}

.info {
	display: inline-flex;
	width: 100%;
	font-weight: bold;
}

.info:hover {
	font-weight: normal;
}

.subject {
	margin: auto;
}

.date {
	margin-left: auto;
}

.inboxElem {
	display: flex;

}

.date {
	margin-right: auto;
}